.careerheader-section {
    background-image: url(../images/career-bg.webp);
    background-repeat: no-repeat;
    background-size: cover !important;
    height: auto;
    min-height: 100vh;
    /* overflow-x: hidden; */


}

.careerheader-section .career-heading {
    color: #FFF;
    text-align: center;
    font-size: 60px;
    font-family: Vazirmatn;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
    text-transform: uppercase;
    position: absolute;
    top: 40% !important;
    left: 0%;

}

.careerbotheader-section {
    background: linear-gradient(180deg, #5E83AE 0%, #446FA0 47.40%, #507CAE 100%);
}

.careerbotheader-section .career-btm-heading {
    color: #FFF;
    font-size: 90px;
    font-family: Vazirmatn;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    /* margin-left: -430px !important; */
position: relative;
left: -45%;
}

.careerbotheader-section .career-btm-para {
    color: #FFF;
    text-align: justify;
    font-size: 22px;
    font-family: Vazirmatn;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* margin-left:90px ; */
}

.careerbotheader-section .positn-relative {
    position: relative;
}